{# src/Acme/TaskBundle/Resources/views/Default/response.html.twig #}

<html>
	<head>
	
	
	</head>
	
	<body>

			
			<h2>Inputs</h2>
			<h4>Name</h4>
				{{ firstName }} {{ lastName }}
			
			<h4>Address</h4>
				{{ street }} {{ number }}
			

		 
			</br>

	</body>

</html>
